{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 1,
  "links": [],
  "panels": [
    {
      "datasource": null,
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": true
          },
          "decimals": 0,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 0
      },
      "id": 2,
      "options": {
        "graph": {},
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "7.5.5",
      "targets": [
        {
          "groupBy": [],
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "200"
            }
          ]
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Wizzard Request 200",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 17,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "never",
            "spanNulls": true
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "short"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 0
      },
      "id": 4,
      "options": {
        "graph": {},
        "legend": {
          "calcs": [],
          "displayMode": "table",
          "placement": "bottom"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "7.5.5",
      "targets": [
        {
          "groupBy": [
            {
              "params": [
                  "status"
              ],
              "type": "tag"
            }
          ],
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "status 404",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "!=",
              "value": "200"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "403",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "403"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "400",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "400"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "401",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "401"
            }
          ]
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Wizzard Request status not 200",
      "type": "timeseries"
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "unit": "short"
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 9
      },
      "hiddenSeries": false,
      "id": 6,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.5.5",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "groupBy": [
            {
              "params": [
                  "status"
              ],
              "type": "tag"
            }
          ],
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT \"count\" FROM \"http_server_requests\" WHERE (\"status\" != '200' AND \"uri\" =~ /wizzards/) AND $timeFilter GROUP BY \"status\"",
          "rawQuery": true,
          "refId": "status 404",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "!=",
              "value": "200"
            },
            {
              "condition": "AND",
              "key": "uri",
              "operator": "=~",
              "value": "/^$adhoc$/"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "403",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "403"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "400",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "400"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "401",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "401"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Wizzard Request status not 200",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:738",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:739",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "unit": "short"
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 9
      },
      "hiddenSeries": false,
      "id": 5,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "connected",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.5.5",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": true,
      "steppedLine": false,
      "targets": [
        {
          "groupBy": [
            {
              "params": [
                  "status"
              ],
              "type": "tag"
            }
          ],
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "query": "SELECT \"count\" FROM \"http_server_requests\" WHERE (\"status\" != '200' AND \"uri\" =~ /character/) AND $timeFilter GROUP BY \"status\"",
          "rawQuery": true,
          "refId": "status 404",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "!=",
              "value": "200"
            },
            {
              "condition": "AND",
              "key": "uri",
              "operator": "=~",
              "value": "/^$adhoc$/"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "403",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "403"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "400",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "400"
            }
          ]
        },
        {
          "groupBy": [],
          "hide": true,
          "measurement": "http_server_requests",
          "orderByTime": "ASC",
          "policy": "default",
          "refId": "401",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                    "count"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "status",
              "operator": "=",
              "value": "401"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Character Request status not 200",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:738",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "$$hashKey": "object:739",
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    }
  ],
  "refresh": "30s",
  "schemaVersion": 27,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Wizzards Board",
  "uid": "I1gVDFjMz",
  "version": 12
}